
/* small device */

@media screen and (max-width: 576px) {
    .image_header{
        display: none;
    }
    .logo_menu{
        margin-bottom: 20px;
    }
    .nav_menu, .links, #main_content, .info_cards, .skill_cards, .resume_content {
        flex-direction: column;
    }
    
    .hero_content {
        /* max-width: 100%; */
        margin-top: 20px;
        order: 2;
        /* text-align: center; */
    }
     #hero_img {
        margin-top: 120px;
        order: 1;
     }
     #hero_img img{
        max-width: 100%;
        justify-content: center;
        margin-top: 50px;
     }
     .btn{
        display: block;
        justify-items: center;
     }
     #about_section{
        margin-top: 1100px;
     }
     .info_cards{
        gap: 20px;
     }
     .section_heading{
        margin-bottom: 20px;
     }
}